//#root{
//  -fx-font:'jetbrains mono'
//}

* {
  -fx-border-color: black;
  -fx-border-width: 1px;
}

@for $i from 10 through 100 {
  .w-#{$i} {
    -fx-width: 1px * $i;
  }
}

@for $i from 10 through 100 {
  .vh-#{$i} {
    height: 1px * $i;
  }
}

@for $i from 10 through 100 {
  .h-#{$i} {
    height: 1% * $i;
  }
}

@for $i from 1 through 10 {
  .opacity-#{$i} {
    opacity: 0.1 * $i;
  }
}
